<!-- FILTER -->
<mat-form-field class="w-50 mt-2 d-block" *ngIf="workspaces.length > 4 && !hideFilter">
    <mat-icon matPrefix>search</mat-icon>
    <input matInput [(ngModel)]="searchString" placeholder="filter workspaces">
</mat-form-field>

<mat-selection-list #allSpacesSelectionList [disabled]='disableSelection' (selectionChange)="onSpaceSelection()" class='mt-2 mb-4 max-h-300-scroll' [compareWith]="compareFn">
    <mat-list-option *ngFor="let space of (workspaces | workspaceNameFilter: searchString)" [value]="space" class='mat-list-option-multi-line' [selected]='space.checked'
        [ngClass]="{'checkbox-hidden': disableSelection}" [checkboxPosition]="before">
        <div class='mb-1'>{{space.workspaceName}}</div>
        <div class='text-hint text-small' *ngIf="!hideApps">
            <span class="mr-1">Apps:</span>
            <span *ngFor="let app of space.apps" class='comma-separated-list'>{{app.appName}}</span>
        </div>
    </mat-list-option>
</mat-selection-list>