<div class="row mt-4">

    <div class="col-4">
        <mat-card class='mr-1 mb-4'>
            <mat-card-content>
                <mat-card-title>Description</mat-card-title>
                <p class="text-hint">{{solution.description}}</p>

            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-8">

        <!--======  SPACES ========= -->
        <mat-expansion-panel [expanded]='true'>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <mat-icon class="pr-2 text-light">ballot</mat-icon>
                    Workspaces
                </mat-panel-title>
                <mat-panel-description class="d-flex justify-content-end pr-2">
                    <span>{{solution.workspaces.length}}</span>
                </mat-panel-description>

            </mat-expansion-panel-header>
            <ng-template matExpansionPanelContent>

                <!-- TODO: GET DEFAULT OPTION TO SHOW UP SELECTED -->
                <mat-form-field class='ml-3 mt-3'>
                    <mat-label>Solution version</mat-label>
                    <mat-select [(ngModel)]="selectedVersion" (selectionChange)="onVersionSelection()">
                        <mat-option *ngFor="let v of versions" [value]="v.number">
                            {{v.number}} <span *ngIf="v.name">{{v.name}}</span>
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- TODO SHOW SPACES IN SELECTED VERSION  -->
                <app-podio-spaces [workspaces]='solution.workspaces' [disableSelection]='true'>
                </app-podio-spaces>
            </ng-template>
        </mat-expansion-panel>

    </div>

</div>