<div class="row mt-4">

    <div class="col-12 col-sm-6 col-md-4">
        <mat-card class='mr-1 mb-4'>
            <mat-card-content>
                <mat-card-title>Description</mat-card-title>
                <p class="text-hint">
                    This can be a user created description for this solution. It can be edited at any time
                    as
                    the solution evolves.
                </p>

            </mat-card-content>
        </mat-card>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
        <mat-card class='mr-1 mb-4'>
            <mat-card-content>
                <mat-card-title>Icon</mat-card-title>
                <p class="text-hint">
                    Personalize your solution with an icon.
                </p>
                <input type="file">

            </mat-card-content>
        </mat-card>
    </div>

</div>