<div class="row mt-4 mb-4 solution-tasks">

    <div class="col-12 col-sm-6 col-md-4">
        <mat-card class='mr-1 cursor-pointer'>
            <span class="overlay" (click)='onDeploymentClick()'></span>
            <mat-card-title class='d-flex justify-content-between w-100'>
                <span>
                    Deploy
                </span>
                <app-help-menu [topic]="'deploy'"></app-help-menu>
            </mat-card-title>

            <mat-card-content class='text-hint text-no-deco'>
                <p>Create new instance in a Podio Organization</p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions class="text-hint pl-2">
                <span>last Deployment TODO</span>
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="col-12 col-sm-6 col-md-4">
        <mat-card class='mr-1 cursor-pointer'>
            <span class="overlay" (click)='onUpdateClick()'></span>
            <mat-card-title class='d-flex justify-content-between w-100'>
                <span>Update</span>
                <app-help-menu [topic]="'update'"></app-help-menu>
            </mat-card-title>
    
            <mat-card-content class='text-hint text-no-deco'>
                <p>Create new Solution version</p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions class="text-hint pl-2">
                <span>last Update TODO </span>
            </mat-card-actions>
        </mat-card>
    </div>

    

   

    <!-- <div class="col-12 col-sm-6 col-md-4">
        <mat-card class='mr-1 cursor-pointer' (click)='onPatchClick()'>
            <mat-card-title>
                Patch Instances
                <mat-icon class="pl-1 text-light">send</mat-icon>
            </mat-card-title>
            <mat-card-content class='text-hint'>
                <p>
                    When you have run Updates on your Saasafras solution you can Update deployments of the
                    solution with all of the changes
                    by creating a Patch.
                    <a href="">Learn more</a>
                </p>
            </mat-card-content>
            <mat-card-footer class="text-hint mr-0 ml-0">
                last Patch 01/01/2011
            </mat-card-footer>
        </mat-card>
    </div> -->

    <div class="col-12 col-sm-6 col-md-4">
        <mat-card class='mr-1 cursor-pointer'>
            <span class="overlay" (click)='onPatchClick()'></span>
            <mat-card-title class='d-flex justify-content-between w-100'>
                <span>Patch</span>
                <app-help-menu [topic]="'patch'"></app-help-menu>
            </mat-card-title>
    
            <mat-card-content class='text-hint text-no-deco'>
                <p>Patch deployed instances with a new Solution version</p>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions class="text-hint pl-2">
                <span>last Patch TODO</span>
            </mat-card-actions>
        </mat-card>
    </div>

</div>