
<div id="dropdown" class="dropdown">
    Credential Type: <button class="dropbtn" id="type" style="display:block">{{ credential.type }}</button>
    <div class="dropdown-content">
        <a (click)="setType('solution')">Solution</a>
        <a (click)="setType('environment')">Environment</a>
    </div>
    <div *ngIf="(credential.type === 'solution')" >
            <div>Solution Id: <input [(ngModel)]="credential.solutionId" required></div>
            <div>Version: <input [(ngModel)]="credential.version" required></div>
        </div>
    <div *ngIf="(credential.type === 'environment')" >
        <div>Client Id: <input [(ngModel)]="credential.clientId" required></div>
        <div>Environment Id: <input [(ngModel)]="credential.environmentId" required></div>
    </div>
    <button (click)="redirect()" type="submit">Submit</button>
</div>
<iframe width="1" height="1" [src]="logOutUrl"></iframe>
