<h1 mat-dialog-title>
    Add Podio Account
    <span *ngIf="passedClient">to client: {{passedClient.contact}}</span>
</h1>

<form [formGroup]="form" class="mb-3 mt-3">

    <div [hidden]='passedClient'>
        <mat-form-field class='w-100'>
            <mat-label>Who does account belong to?</mat-label>
            <mat-select formControlName="client" (selectionChange)='onClientSelection($event.value)'>
                <mat-option [value]='fakeSfUser'>This is my account</mat-option>
                <mat-option *ngFor="let client of clients" [value]="client">
                    {{client.contact}}
                </mat-option>
            </mat-select>
        </mat-form-field>
    </div>

    <div>
        <p>A request for account admin credentials will be sent to {{client.email}}.</p>
        <p class="text-clickable" (click)="alternativeEmail = 'true'">Send request to a different email</p>
        <mat-form-field *ngIf='alternativeEmail' class='w-100'>
            <mat-label>Enter alternative email</mat-label>
            <input type="email" matInput formControlName="email">
        </mat-form-field>

        <p>When client submits credentials, Saassafras will gain access to account.</p>
        <p>We'll email you when this occurs.</p>
    </div>

    <mat-form-field class='w-100'>
        <mat-label>What do you want to call this account?</mat-label>
        <input type="text" matInput formControlName="accountName">
    </mat-form-field>

    <button mat-raised-button class='mr-2 mt-3' (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button type="submit" (click)="onSubmit()" [disabled]="!form.valid">Send Request</button>

</form>

<iframe width="1" height="1" [src]="logOutUrl"></iframe>