<mat-toolbar role="navigation" class="justify-content-between">
    <div class="d-flex align-items-center">
        <button mat-icon-button (click)="onToggleSidenav()" class="d-inline d-lg-none">
            <mat-icon>menu</mat-icon>
        </button>
        <img class="sf-mat-icon mr-2" id="image"
            src="https://uploads-ssl.webflow.com/5ad89e5cbcb30031ff70361a/5ad8c34ebcb30096777073cc_saassafras_logo80.png" />
        <a routerLink="/solutions" id="home">Saasafras</a>
    </div>

    <div>
        <ul class="d-none d-lg-flex flex-row">
            <li><a routerLink="/podio" class="pr-2">Podio Assets</a></li>
            <li><a routerLink="/clients" class="pr-2">Clients</a></li>
            <li><a routerLink="/solutions" class="pr-2">Solutions</a></li>
            <li><a routerLink="/login" id="signup" class="pr-2">Login</a></li>
        </ul>
    </div>

</mat-toolbar>