<mat-toolbar role="navigation" class="justify-content-between">
    <div class="d-flex align-items-center">
        <button mat-icon-button (click)="onToggleSidenav()" class="d-inline d-lg-none">
            <mat-icon>menu</mat-icon>
        </button>
        <img class="sf-mat-icon mr-2" id="image"
            src="https://uploads-ssl.webflow.com/5ad89e5cbcb30031ff70361a/5ad8c34ebcb30096777073cc_saassafras_logo80.png" />
        <a routerLink="" id="home" class="mat-h4 mb-0">Saasafras</a>
    </div>

    <div>
        <ul class="d-none d-lg-flex flex-row">
            <li><a routerLink="" routerLinkActive="active-nav-item" [routerLinkActiveOptions]="{ exact: true }" class="pr-2 mat-h4 mb-0">Dashboard</a></li>
            <li><a routerLink="/podio" routerLinkActive="active-nav-item" class="pr-2 mat-h4 mb-0">Podio Orgs</a></li>
            <li><a routerLink="/clients" routerLinkActive="active-nav-item" class="pr-2 mat-h4 mb-0">Clients</a></li>
            <li><a routerLink="/solutions" routerLinkActive="active-nav-item" class="pr-2 mat-h4 mb-0">Solutions</a></li>
            <li>
                <a *ngIf='loggedIn' routerLink="/login" routerLinkActive="active-nav-item"  (click)="logout()" id="signup" class="pr-2 mat-h4 mb-0">Logout</a>
                <a *ngIf='!loggedIn' routerLink="/login" routerLinkActive="active-nav-item"  id="signup" class="pr-2 mat-h4 mb-0">Login</a>
            </li>
        </ul>
    </div>

</mat-toolbar>