<div class="d-flex justify-content-center">
    <mat-card class='w-75 mt-3'>
        <mat-card-content>
            <h3>Create New Solution</h3>

            <form [formGroup]="newSolutionForm" (ngSubmit)="onSubmit()" novalidate>

                <mat-form-field class="w-100" >
                    <input type='text' formControlName="name" matInput required placeholder="Name" />
                </mat-form-field>

                <mat-form-field class="w-100" >
                    <textarea formControlName="description" matInput placeholder="Description" required></textarea>
                </mat-form-field>

                <mat-form-field *ngIf="!preselectedWorkSpaces" class="w-100" >
                    <mat-label>Use spaces from what organization?</mat-label>
                    <mat-select formControlName="organization" required (selectionChange)='onOrgSelection($event)'>
                        <mat-option *ngFor="let org of organizations" [value]="org.name">
                            {{org.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div *ngIf="workspaces || preselectedWorkSpaces" class="mb-3">
                    <mat-label *ngIf="workspaces">Which workspaces would you like to use?</mat-label>
                    <mat-label *ngIf="preselectedWorkSpaces">Selected Workspaces</mat-label>
                    <div>
                        <!-- <mat-selection-list #spaces aria-label="workspaces list" (selectionChange)="onSpaceSelection()">
                            <mat-list-option *ngFor="let space of workspaces" [value]="space"
                                [checkboxPosition]="before">
                                <span>{{space.workspaceName}}</span>
                            </mat-list-option>
                        </mat-selection-list> -->
                        <app-podio-spaces [org]='org' [workspaces]="workspaces" (selectedSpaces)="onSpaceSelection($event)" [disableSelection]='false'></app-podio-spaces>
                    </div>

                    <small *ngIf="selectedWorkspacesError && description.touched">Please select at least one workspace</small>
                </div>

                <button type="submit" mat-raised-button *ngIf="!submitted" [disabled]="newSolutionForm.status === 'INVALID' || !selectedWorkspaces.length">Create
                    Solution</button>

                <div class="mt-4 mb-4" *ngIf="submitted">
                    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
                </div>

            </form>

        </mat-card-content>
    </mat-card>

</div>

