<div class="d-flex justify-content-center">
    <mat-card class='w-75 mt-3'>
        <mat-card-content>
            <h3>Create New Solution</h3>

            <form #form="ngForm" (ngSubmit)="onSubmit(form)" novalidate>

                <mat-form-field class="w-100" appearance="outline">
                    <!-- Defining a name attribute is a requirement when using [(ngModel)] in combination with a form. and the name is used to register eacch control -->
                    <input type='text' [(ngModel)]="solution.name" name="name" matInput placeholder="Name" required />
                    todo remove this {{solution.name}}
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline">
                    <textarea [(ngModel)]="solution.description" name="description" matInput placeholder="Description"
                        required></textarea>
                </mat-form-field>

                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Use spaces from what organization?</mat-label>
                    <mat-select name="organization" [(ngModel)]="organization" required
                        (selectionChange)='onOrgSelection($event)'>
                        <mat-option *ngFor="let org of organizations" [value]="org.name">
                            {{org.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- TODO IMPLEMENT REACTIVE FORMS CHECKBOX GROUP COMPONENT -->
                <div *ngIf="workspaces">
                    <div *ngFor='let space of workspaces; let i = index' class='d-block mb-3'>
                        <mat-checkbox [(ngModel)]='workspaces[i].name' name="{workspaces[i].name}">
                            {{space.workspaceName}}
                        </mat-checkbox>
                    </div>
                </div>

                <button type="submit" mat-raised-button>
                    <!-- TODO DISABLE UNTIL AT LEAST ONE ORG SELECTED -->
                    Create Solution
                </button>

            </form>

        </mat-card-content>
    </mat-card>

</div>