<section>

    <!-- <div>
        <h3 class="text-h1">My Podio</h3>
        <div class="d-flex justify-content-between align-items-center">
            <mat-form-field class="w-50">
                <input autofocus matInput placeholder="Search my organizations & workspaces" />
            </mat-form-field>
            <button mat-raised-button matTooltip="Refresh podio info">
                <mat-icon>autorenew</mat-icon>
            </button>
        </div>
    </div> -->

    <!-- TABLE  -->
    <!-- <div *ngIf="envUI === 'oneTable'"> -->
    <div *ngIf="envUI === 'oneTable'">

        <div class="d-flex justify-content-between align-items-center">
            <h3>Podio Organizations</h3>
        </div>
        <div>
            <div class="d-flex justify-content-between align-items-center">

                <!-- FILTER -->
                <mat-form-field class="w-50">
                    <mat-icon matPrefix>search</mat-icon>
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by keyword..." />
                </mat-form-field>

                <span>
                    <span *ngIf="addOrgInProgress" class="mr-3 text-hint">
                        <mat-icon class='spin icon-smaller'>sync</mat-icon>
                        Adding Account...
                    </span>
                    <button mat-raised-button (click)="onAddAccountClick()">Add Account</button>
                </span>

            </div>

            <!-- TABLE  -->
            <div class="table-container mat-elevation-z4">
                <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows class='table-layout-fixed'>

                    <ng-container matColumnDef="org">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-150px">
                            Podio Org.
                        </th>
                        <td mat-cell *matCellDef="let element" class='overflow-ellipsis'>
                            <span *ngIf="element.name != 'placeholder'">
                                {{ element.name }}
                            </span>
                            <span *ngIf="element.name === 'placeholder'">
                                <mat-icon class='icon-smaller spin'>sync</mat-icon> Communicating with Podio...
                            </span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="owner">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-150px">
                            Org. Owner
                        </th>
                        <td mat-cell *matCellDef="let element" class='overflow-ellipsis'>
                            {{ element.owner }}
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="isTemplate">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header class="w-100px">
                            Is Template
                        </th>
                        <td mat-cell *matCellDef="let element" class='overflow-ellipsis'>
                            <span *ngIf="element.isTemplate">true</span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <ng-container matColumnDef="solution">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Deployed Solution Instances
                        </th>
                        <td mat-cell *matCellDef="let element" class='overflow-ellipsis'>
                            <span *ngFor="let instance of element.instances" class="comma-separated-list pr-2" >
                                {{ instance.name }} ({{instance.solution.name}}
                                v.{{instance.solution.versionNumber}})
                            </span>
                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container>

                    <!-- <ng-container matColumnDef="actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>
                            Actions
                        </th>
                        <td mat-cell *matCellDef="let element">

                            <mat-menu #envActions="matMenu">
                                <button mat-menu-item *ngIf="!element.isTemplate">
                                    <mat-icon>history</mat-icon>
                                    <span>Instance history</span>
                                </button>
                                <button mat-menu-item *ngIf="!element.isTemplate">
                                    <mat-icon>edit</mat-icon>
                                    <span>Edit Instance</span>
                                </button>
                                <button mat-menu-item *ngIf="!element.isTemplate">
                                    <mat-icon>settings</mat-icon>
                                    <span>Patch Instance</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>vpn_key</mat-icon>
                                    <span>Pause client access</span>
                                </button>
                                <button mat-menu-item *ngIf="!element.isTemplate">
                                    <mat-icon>settings</mat-icon>
                                    <span>Above in Manage Instance dialog?</span>
                                </button>
                                <button mat-menu-item>
                                    <mat-icon>settings</mat-icon>
                                    <span>Manage Organization</span>
                                </button>

                                <button mat-menu-item>
                                    <mat-icon>delete</mat-icon>
                                    <span>Delete Organization</span>
                                </button>
                            </mat-menu>
                            <button mat-button [matMenuTriggerFor]="envActions">
                                <mat-icon>more_vert</mat-icon>
                            </button>

                        </td>
                        <td mat-footer-cell *matFooterCellDef></td>
                    </ng-container> -->

                    <!-- ROWS -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="md-elevation-z5"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns" routerLink="/podio/{{row.orgId}}"></tr>
                    <!-- <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr> -->
                </table>
            </div>

        </div>
    </div>
</section>

<!-- 
    OLD
    ACCORDION 
    IS NO
    MORE

-->
<!-- <mat-accordion>

    <mat-expansion-panel *ngFor="let org of organizations; let panelIndex = index" (opened)="panelOpenState = true"
        (closed)="onPanelClose(panelIndex)">

        <mat-expansion-panel-header>
            <mat-panel-title>
                <img src="https://cdn.iconscout.com/icon/free/png-256/podio-282956.png" alt="" class="exp-panel-icon">
                <span class="overflow-ellipsis w-25">{{org.name}}</span>
                <span class="overflow-ellipsis w-25">Org. Owner: {{org.owner}}</span>
                <span class="overflow-ellipsis w-25 ml-3 ">Deployed Solution Instance:
                    {{org.deployedSolutions[0]}}</span>
            </mat-panel-title>

        </mat-expansion-panel-header>

        <mat-tab-group>
            <mat-tab label="About">
                <mat-list>
                    <mat-list-item>
                        <p mat-line>Workspace Source For: <a href="">Super Solution X</a></p>
                    </mat-list-item>
                    <mat-list-item>
                        <p mat-line> Deployed Solution Instance: mPactPro - 228</p>
                    </mat-list-item>
                    <mat-list-item>
                        <p mat-line> Description: {{org.description}} </p>
                    </mat-list-item>
                </mat-list>
            </mat-tab>
            <mat-tab label="Manage">
                <span class="button-row mb-3">

                    <a mat-raised-button class="mt-3 mr-2">
                        <mat-icon>vpn_key</mat-icon>
                        Manage Credentials
                    </a>
                    <a mat-raised-button class="mt-3 mr-2">
                        <mat-icon>history</mat-icon>
                        Deployed Instance History
                    </a>
                    <a mat-raised-button class="mt-3 mr-2">
                        <mat-icon>create_new_folder</mat-icon>
                        Patch Deployed Instance
                    </a>
                    <a mat-raised-button class="mt-3 mr-2">
                        <mat-icon>send</mat-icon>
                        Deploy Solution to Org
                    </a>
                    <a mat-raised-button class="mt-3">
                        <mat-icon>build</mat-icon>
                        Other actions...?
                    </a>

                </span>
            </mat-tab>
            <mat-tab label="Workspaces">
                <p mat-line> WORKSPACES: </p>
                <mat-selection-list #spaces aria-label="workspaces list"
                    (selectionChange)="onSelectionChange($event, panelIndex)">
                    <mat-list-option *ngFor="let space of org.spaces" [value]="space">
                        {{space.workspaceName}}
                    </mat-list-option>
                </mat-selection-list>
                <a routerLink="/solutions/new" [disabled]="selectedSpaces.length < 1" mat-raised-button
                    (click)='onNewSolutionClick()' class="mt-3 mr-2">
                    Create solution from selected
                    workspaces
                </a>
            </mat-tab>
        </mat-tab-group>
    </mat-expansion-panel>
</mat-accordion> -->