<div class="d-flex justify-content-center">
    <mat-card class='w-100 mt-3'>
        <mat-card-content>

            <!-- NAME  -->

            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-h1">{{client.contact}}</h3>

                <span>
                    <!-- TODO FOR A/B TESTING ONLY. REMOVE... -->
                    <mat-menu #envUIOptions="matMenu">
                        <button mat-menu-item (click)="envUI = 'oneTable'">
                            <span>one table</span>
                        </button>
                        <button mat-menu-item (click)="envUI = 'twoAccordions'">
                            <span>two accordions</span>
                        </button>
                    </mat-menu>
                    <button mat-raised-button [matMenuTriggerFor]="envUIOptions" class="mr-2">
                        <span>env UI options</span>
                    </button>

                    <mat-menu #clientActionsMenu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit client</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete client</span>
                        </button>
                    </mat-menu>
                    <button mat-raised-button [matMenuTriggerFor]="clientActionsMenu">
                        <!-- Edit
                    <mat-icon>keyboard_arrow_down</mat-icon> -->
                        <mat-icon>settings</mat-icon>
                    </button>

                </span>

            </div>

            <!-- INFO  -->

            <mat-list>
                <h3>Information</h3>
                <mat-list-item>
                    <mat-icon mat-list-icon>person_outline</mat-icon>
                    <p mat-line> {{client.contact}} </p>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>store_mall_directory</mat-icon>
                    <p mat-line> {{client.company}} </p>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>credit_card</mat-icon>
                    <p mat-line> {{client.id}} </p>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>email</mat-icon>
                    <p mat-line> {{client.email}} </p>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>note</mat-icon>
                    <p mat-line> {{client.notes}} </p>
                </mat-list-item>

                <mat-divider></mat-divider>

                <!--============================
                    ORGS AND INSTANCES TABLE
                =========================================== -->

                

                <!--====================================== 
                    ORGS ACCORDION 
                ==========================================-->

                <div *ngIf="envUI === 'twoAccordions'" class="mt-3 mb-5">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3>Podio Organizations</h3>

                        <!-- ACTION BTN AND MENU  -->
                        <mat-menu #OrgAndInstanceMenu="matMenu">
                            <button mat-menu-item (click)="onAddEnvClick()">
                                <mat-icon>add_box</mat-icon>
                                <span>Add Organization</span>
                            </button>
                        </mat-menu>
                        <button mat-raised-button [matMenuTriggerFor]="OrgAndInstanceMenu">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </div>
                    <div>
                        <!-- NO FILTER -->

                        <!-- ACCORDION  -->
                        <app-podio-assets [accordionOnly]='true'></app-podio-assets>

                    </div>
                </div>

                <!--====================================== 
                    INSTANCES ACCORDION 
                ==========================================-->

                <div *ngIf="envUI === 'twoAccordions'" class="mt-3 mb-5">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                        <h3>Deployed Solution Instances</h3>

                        <!-- ACTION BTN AND MENU  -->
                        <mat-menu #OrgAndInstanceMenu="matMenu">
                            <button mat-menu-item (click)="onAddEnvClick()">
                                <mat-icon>add_box</mat-icon>
                                <span>Deploy New Solution Instance</span>
                            </button>
                        </mat-menu>
                        <button mat-raised-button [matMenuTriggerFor]="OrgAndInstanceMenu">
                            <mat-icon>add_box</mat-icon>
                        </button>
                    </div>
                    <div>
                        <!-- NO FILTER -->

                        <!-- ACCORDION  -->
                        <app-podio-assets [accordionOnly]='true'></app-podio-assets>

                    </div>
                </div>

            </mat-list>

        </mat-card-content>
    </mat-card>

</div>