<div class="d-flex justify-content-center">
    <mat-card class='w-100 mt-3'>
        <mat-card-content>

            <!-- NAME  -->

            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-h1">{{client.contact}}</h3>

                <span>

                    <!--  MENU -->
                    <mat-menu #clientActionsMenu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Edit client</span>
                        </button>
                        <button mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Delete client</span>
                        </button>
                    </mat-menu>
                    <button mat-raised-button [matMenuTriggerFor]="clientActionsMenu">
                        <!-- Edit
                    <mat-icon>keyboard_arrow_down</mat-icon> -->
                        <mat-icon>settings</mat-icon>
                    </button>

                </span>

            </div>

            <!-- INFO  -->

            <mat-list>
                <h3>Information</h3>
                <mat-list-item>
                    <mat-icon mat-list-icon>person_outline</mat-icon>
                    <p mat-line> {{client.contact}} </p>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>store_mall_directory</mat-icon>
                    <p mat-line> {{client.company}} </p>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>credit_card</mat-icon>
                    <p mat-line> {{client.id}} </p>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>email</mat-icon>
                    <p mat-line> {{client.email}} </p>
                </mat-list-item>

                <mat-list-item>
                    <mat-icon mat-list-icon>note</mat-icon>
                    <p mat-line> {{client.notes}} </p>
                </mat-list-item>

                <mat-divider></mat-divider>

                <!--============================
                    ORGS AND INSTANCES TABLE
                =========================================== -->

                <app-podio-accounts [accounts]='client.accounts'></app-podio-accounts>

            </mat-list>

        </mat-card-content>
    </mat-card>

</div>