<!--============================
    ORG NAME AND ACTIONS
================================ -->
<div class="d-flex justify-content-center">
    <mat-card class='w-100 mt-3'>
        <mat-card-content>
            <div class="d-flex justify-content-between align-items-center">
                <h3 class="text-h1">{{org.name}}</h3>
                <span>
                    <mat-menu #orgActionsMenu="matMenu">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Manage Login Info</span>
                        </button>
                        <button mat-menu-item (click)="onAddInstanceClick()">
                            <mat-icon>delete</mat-icon>
                            <span>Add New Solution Instance</span>
                        </button>
                    </mat-menu>
                    <button mat-raised-button [matMenuTriggerFor]="orgActionsMenu">
                        Org Actions &nbsp;
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </button>
                </span>
            </div>

            <mat-divider></mat-divider>

            <!--============================
                    ORG INFO 
            ================================ -->
            <mat-list>
                <h3>Information</h3>
                <mat-list-item>
                    <mat-icon mat-list-icon>credit_card</mat-icon>
                    <p mat-line>Org. ID: {{org.id}} </p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>store_mall_directory</mat-icon>
                    <p mat-line>Owner: {{org.owner}} </p>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>view_quilt</mat-icon>
                    <p mat-line>Is Template for Solution: Add this field to fake data...</p>
                </mat-list-item>
            </mat-list>


            <!--============================
                        SPACES 
                ================================ -->
            <mat-expansion-panel class="mb-3 mt-2">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="pr-2 text-light">ballot</mat-icon>
                        Workspaces
                    </mat-panel-title>
                    <mat-panel-description class="d-flex justify-content-end pr-2">
                        <span>{{org.spaces.length}}</span>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <app-podio-spaces [org]='org' (selectedSpaces)="onSpaceSelection($event)"
                        [disableSelection]='false'></app-podio-spaces>
                    <button mat-raised-button (click)="onCreateSolClick()"
                        [disabled]="!selectedWorkspaces.length">Create Solution from Selected</button>
                </ng-template>
            </mat-expansion-panel>

            <!--===========================
                    INSTANCE(S) 
            ================================ -->

            <mat-expansion-panel class="mb-3">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="pr-2 text-light">launch</mat-icon>
                        Deployed Solution Instances
                    </mat-panel-title>
                    <mat-panel-description class="d-flex justify-content-end pr-2">
                        <span>{{org.instances.length}}</span>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <app-instances [instances]="org.instances" [showSearchBox]="false"></app-instances>
                </ng-template>
            </mat-expansion-panel>

        </mat-card-content>
    </mat-card>

</div>