<h1 mat-dialog-title>Deploy "{{solution.name}}"</h1>

<p class="text-hint">
    When you have created a Saasafras Solution, you can deploy the Solution to one or more of your clients. This will ... add further explanation...
    <a href="">Learn more <mat-icon class="text-small">open_in_new</mat-icon></a>
</p>

<form [formGroup]="deploymentForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="w-100 d-none">
        <mat-label>Solution</mat-label>
        <input type="text" matInput readonly formControlName="solution">
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>Select a client</mat-label>
        <mat-select formControlName="client" (selectionChange)='onClientSelection($event.value)'>
            <mat-option *ngFor="let client of clients" [value]="client.id">{{client.name}}</mat-option>
        </mat-select>
        <div *ngIf="c.invalid && (c.dirty || c.touched)">
            <mat-error *ngIf="c.errors.required">Please select a client</mat-error>
        </div>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf='environments'>
        <mat-label>Select an environment</mat-label>
        <mat-select formControlName="environment">
            <mat-option *ngFor="let env of environments" [value]="env">{{env}}</mat-option>
        </mat-select>
        <div *ngIf="env.invalid && (env.dirty || env.touched)">
            <mat-error *ngIf="env.errors.required">Please select an environment</mat-error>
        </div>
    </mat-form-field>

    <mat-form-field class="w-100">
        <textarea matInput formControlName="description" placeholder="Add a description (optional)"></textarea>
    </mat-form-field>

    <button mat-raised-button class='mr-2'>Cancel</button>
    <button mat-raised-button type="submit" [disabled]="selectedWorkspacesError">Create Solution</button>

</form>



