<h1 *ngIf="preselectedSolution" mat-dialog-title>
    Create New Instance of {{solutionTitle}}
    <!-- TODO JUST FOR DEV AND TESTING -->
    <span class="text-hint" (click)="toggleNoClientsView()">no clients</span>
</h1>
<h1 *ngIf="preselectedOrg" mat-dialog-title>
    Create New Instance in Org "{{orgTitle}}"
    <!-- TODO JUST FOR DEV AND TESTING -->
    <span class="text-hint" (click)="toggleNoClientsView()">no clients</span>
</h1>

<form [formGroup]="deploymentForm" (ngSubmit)="onSubmit()">

    
    <div *ngIf="!preselectedOrg">

        <mat-form-field class="w-100">
            <mat-label>Who is the target client?</mat-label>
            <mat-select formControlName="client" readonly (selectionChange)='onClientSelection($event.value)'>
                <mat-option value="addClient">Add new client<mat-icon class="text-light pl-2">add_box</mat-icon></mat-option>
                <mat-option value="deployToSelf">Provider name (me)</mat-option>
                <mat-option *ngFor="let client of clients" [value]="client">{{client.contact}}</mat-option>
            </mat-select>
            <div *ngIf="c.invalid && (c.dirty || c.touched)">
                <mat-error>Please select a client</mat-error>
            </div>
        </mat-form-field>
    </div>

    <mat-form-field class="w-100" *ngIf='orgs && !preselectedOrg'>
        <mat-label>Which organization do you want to deploy into?</mat-label>
        <mat-select formControlName="org">
            <mat-option *ngFor="let org of orgs" [value]="org">{{org.name}}</mat-option>
        </mat-select>
        <div *ngIf="org.invalid && (org.dirty || org.touched)">
            <mat-error>Please select an organization</mat-error>
        </div>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf='!preselectedSolution'>
        <mat-label>What Solution do you want to deploy?</mat-label>
        <mat-select formControlName="solution">
            <mat-option *ngFor="let sol of solutions" [value]="sol.name">{{sol.name}}</mat-option>
        </mat-select>
        <!-- <div *ngIf="sol.invalid && (sol.dirty || sol.touched)">
            <mat-error>Please select a solution</mat-error>
        </div> -->
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>Which solution version?</mat-label>
        <mat-select formControlName="version">
            <mat-option *ngFor="let version of versions" [value]="version">{{version}}</mat-option>
        </mat-select>
        <div *ngIf="c.invalid && (c.dirty || c.touched)">
            <mat-error>Please select a version</mat-error>
        </div>
    </mat-form-field>


    <mat-form-field class="w-100" *ngIf="deploymentForm.controls.instance">
        <mat-label>Instance Name (generated automatically based on client)</mat-label>
        <input type="text" matInput readonly formControlName="instance">
    </mat-form-field>

    <mat-form-field class="w-100">
        <textarea matInput formControlName="description" placeholder="Instance description (optional)"></textarea>
    </mat-form-field>

    <button mat-raised-button class='mr-2'>Cancel</button>
    <button mat-raised-button type="submit" [disabled]="false">Deploy</button>

</form>