<h1 *ngIf="preselectedSolution" mat-dialog-title>Create New Solution Instance of {{solutionTitle}}</h1>
<h1 *ngIf="preselectedOrg" mat-dialog-title>Create New Solution Instance in Org "{{orgTitle}}"</h1>

<p class="text-hint">
    When you have created a Saasafras Solution, you can deploy the Solution to one or more of your clients. This will
    ... add further explanation...
    <a href="">Learn more <mat-icon class="text-small">open_in_new</mat-icon></a>
</p>

<form [formGroup]="deploymentForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="w-100" *ngIf='!preselectedSolution'>
        <mat-label>What Solution do you want to deploy?</mat-label>
        <mat-select formControlName="solution">
            <mat-option *ngFor="let sol of solutions" [value]="sol.name">{{sol.name}}</mat-option>
        </mat-select>
        <!-- <div *ngIf="sol.invalid && (sol.dirty || sol.touched)">
            <mat-error>Please select a solution</mat-error>
        </div> -->
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>Which version?</mat-label>
        <mat-select formControlName="version">
            <mat-option *ngFor="let version of versions" [value]="version">{{version}}</mat-option>
        </mat-select>
        <div *ngIf="c.invalid && (c.dirty || c.touched)">
            <mat-error>Please select a version</mat-error>
        </div>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="!preselectedOrg">
        <mat-label>Who is the target client?</mat-label>
        <mat-select formControlName="client" readonly (selectionChange)='onClientSelection($event.value)'>
            <mat-option *ngFor="let client of clients" [value]="client.id">{{client.contact}}</mat-option>
        </mat-select>
        <div *ngIf="c.invalid && (c.dirty || c.touched)">
            <mat-error>Please select a client</mat-error>
        </div>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf='environments && !preselectedOrg'>
        <mat-label>Which organization?</mat-label>
        <mat-select formControlName="environment">
            <mat-option *ngFor="let env of environments" [value]="env">{{env.name}}</mat-option>
        </mat-select>
        <div *ngIf="env.invalid && (env.dirty || env.touched)">
            <mat-error>Please select an environment</mat-error>
        </div>
    </mat-form-field>

    <mat-form-field class="w-100" *ngIf="deploymentForm.controls.instance">
        <mat-label>Instance Name (generated automatically based on client)</mat-label>
        <input type="text" matInput readonly formControlName="instance">
    </mat-form-field>

    <mat-form-field class="w-100">
        <textarea matInput formControlName="description" placeholder="Instance description (optional)"></textarea>
    </mat-form-field>

    <button mat-raised-button class='mr-2'>Cancel</button>
    <button mat-raised-button type="submit" [disabled]="false">Deploy</button>

    <div class="mt-4 mb-4" *ngIf="submitted">
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

</form>