<div>
  First, let's select an organization to deploy to:
<select style="cursor:pointer" id="selectOrg">
  
  <option>Select an Org</option>
</select><!--Add Orgs same way as admin page.-->
<br>
Please add a leading tag for future sorting purposes (5 or less characters):
<input id="envId" type="text">
<br>
Now please add a full name for the deployment:
<input type="text"id="clientId">
<br>
<app-deploy-solution-btn></app-deploy-solution-btn>
<app-deployresults></app-deployresults>
</div><!--put inside the div for "second" once button is pressed-->
