<h1 mat-dialog-title>Client Created</h1>
<div mat-dialog-content>
    <p>Need access to client Podio Account?</p>
    <span class='text-light'>Account access enables you to manage their Podio assets using the SaaSsafras toolset. This
        includes copying workspaces, deploying solutions into their organizations etc.</span>
</div>
<div mat-dialog-actions class="mt-5">
    <button mat-raised-button class='mr-2' (click)="onCancelClick()">No Thanks</button>
    <button mat-raised-button type="submit" class="bg-green" (click)="onSubmit()">Request Account Access</button>
</div>