<p>
  <b> <span style="font-size:20px">Welcome to Patching!</span></b><br><br>
  <app-client-drop-down></app-client-drop-down>
  <button style="cursor:pointer" (click)="SubmitClient()">Submit</button><br><br>
  <app-env-drop-down></app-env-drop-down>
  <button (click)="click();patch();" class="buttonload" id="patchBtn"style="display:none;cursor:pointer">Begin Patch</button>
</p>
<div style="display:none;font-size:20px" id="load" class="loader">
  <b>
    <span class="loader__dot">L</span>
    <span class="loader__dot">o</span>
    <span class="loader__dot">a</span>
    <span class="loader__dot">d</span>
    <span class="loader__dot">i</span>
    <span class="loader__dot">n</span>
    <span class="loader__dot">g </span>
    <span class="loader__dot">P</span>
    <span class="loader__dot">a</span>
    <span class="loader__dot">t</span>
    <span class="loader__dot">c</span>
    <span class="loader__dot">h </span>
    <span class="loader__dot">i</span>
    <span class="loader__dot">n</span>
    <span class="loader__dot">f</span>
    <span class="loader__dot">o</span>
    <span class="loader__dot">.</span>
    <span class="loader__dot">.</span>
    <span class="loader__dot">.</span>
  </b>
</div>
<app-compareresults></app-compareresults>


