<h1 mat-dialog-title>Add Podio Organization</h1>

<form [formGroup]="form" class="mb-3 mt-3">

    <label class='pb-3'>Select org</label>
    <mat-radio-group formControlName="org">
        <mat-radio-button *ngFor="let org of orgs" [value]="org" class='d-block pt-2'>
            {{org.name}}
        </mat-radio-button>
    </mat-radio-group>

    <div [hidden]='true'>
        <mat-form-field class='w-100' hidden>
            <mat-label>org Username/Email</mat-label>
            <input type="text" matInput formControlName="email">
        </mat-form-field>
    </div>

    <mat-form-field class='w-100 pt-2'>
        <mat-label>Re-enter org Password</mat-label>
        <input type="password" matInput formControlName="password">
    </mat-form-field>

    <button mat-raised-button class='mr-2' (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button type="button" [disabled]="false" (click)='onSubmitCredentials()'>Add Organization</button>

</form>