<div class="instances-component">
    <div class="d-flex justify-content-between align-items-center" *ngIf="showSearchBox || instances.length >=  10">
        <!-- FILTER -->
        <mat-form-field class="w-50">
            <mat-icon matPrefix>search</mat-icon>
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="">
        </mat-form-field>

    </div>

    <div class="table-container ">

        <table mat-table [dataSource]="dataSource">

            <!--  checkbox Column -->
            <ng-container matColumnDef="select">
                <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        [aria-label]="createCheckboxAriaLabel()">
                    </mat-checkbox>
                </th>
                <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)=" $event.stopPropagation()" (change)="$event ? onCheckboxChange(row) : null"
                        [checked]="rowIsSelected(row)" [aria-label]="createCheckboxAriaLabel(row)">
                    </mat-checkbox>
                </td>
            </ng-container>

            <!--  Column -->
            <ng-container matColumnDef="solution">
                <th mat-header-cell *matHeaderCellDef> Solution </th>
                <td mat-cell *matCellDef="let element"> {{element.solution.name}} </td>
            </ng-container>

            <!--  Column -->
            <ng-container matColumnDef="version">
                <th mat-header-cell *matHeaderCellDef> at Version </th>
                <td mat-cell *matCellDef="let element"> {{element.solutionVersionNumber}}
                    {{element.solutionVersionName}} </td>
            </ng-container>

            <!--  Column -->
            <ng-container matColumnDef="client">
                <th mat-header-cell *matHeaderCellDef> Deployed at Client </th>
                <td mat-cell *matCellDef="let element"> {{element.client}} </td>
            </ng-container>

            <!-- Column -->
            <ng-container matColumnDef="lastAction">
                <th mat-header-cell *matHeaderCellDef> Last Action </th>
                <td mat-cell *matCellDef="let element"> {{element.lastAction}} </td>
            </ng-container>

            <!--  Column -->
            <ng-container matColumnDef="impact">
                <th mat-header-cell *matHeaderCellDef>
                    Predicted Impact on Workspaces
                    <mat-icon class='text-inherit-styles'
                        matTooltip="Workspaces that will be added to the instance and workspaces that will be edited if you patch with Selected Version of solution. Existing instance workspaces that are not part of the version used for patch are not affected in any way."
                        [matTooltipPosition]="tooltipPosition">help</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element">
                    <span>
                        <span class='text-warn' matTooltip="{{patchImpactOnSpaces.altered.join(', ')}}">
                            Altered: {{patchImpactOnSpaces.altered.length}}
                        </span>
                        , &nbsp;
                        <span matTooltip="{{patchImpactOnSpaces.added.join(', ')}}">
                            Added: {{patchImpactOnSpaces.added.length}}
                        </span>
                        , &nbsp;
                        <span matTooltip="{{patchImpactOnSpaces.unaffected.join(', ')}}">No Effect:
                            {{patchImpactOnSpaces.unaffected.length}}
                        </span>
                    </span>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();" (click)="selection.toggle(row)">
            </tr>
        </table>

    </div>

    <button *ngIf="showButton" mat-raised-button (click)="onPatchSelectedClick()" class="mt-3 bg-green"
        [disabled]="!selection.selected.length">
        Patch Selected Instances...
    </button>
</div>