<!-- <app-navbar></app-navbar> -->
<app-header (sidenavToggle)="sidenav.toggle()"></app-header>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav role="navigation" mode="side">

        <!-- SIDE NAVIGATION CONTENT -->
        <app-sidenav-list (closeSidenav)="sidenav.close()"></app-sidenav-list>

    </mat-sidenav>
    <mat-sidenav-content>
        <!-- ALL MAIN CONTENT GOES HERE -->

        <main class="container">
            <router-outlet></router-outlet>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>