<h3 class="text-h1">{{ solution.name }}</h3>

<mat-tab-group>

    <mat-tab label="About">
        <ng-template matTabContent>
            <app-solution-about></app-solution-about>
        </ng-template>
    </mat-tab>

    <mat-tab label="Workspaces">
        <ng-template matTabContent>
            <app-solution-spaces [solution]='solution'></app-solution-spaces>
        </ng-template>
    </mat-tab>

    <mat-tab label="Tasks">
        <ng-template matTabContent>
            <app-solution-tasks [solution]='solution'></app-solution-tasks>
            <app-solution-history [solution]='solution'></app-solution-history>
        </ng-template>
    </mat-tab>

</mat-tab-group>