<h1 mat-dialog-title>Enter Org Admin Credentials</h1>

<form [formGroup]="form" class="mb-3 mt-3">

    <mat-form-field class='w-100'>
        <mat-label>Username/Email</mat-label>
        <input type="text" matInput formControlName="email">
    </mat-form-field>

    <mat-form-field class='w-100 pt-2'>
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password">
    </mat-form-field>

    <button mat-raised-button class='mr-2' (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button type="button" [disabled]="false" (click)='onSubmitCredentials()'>Add Organization</button>

</form>