<div class="d-flex justify-content-center">
    <mat-card class="example-card mt-5">
        <mat-card-header>
            <mat-card-title>
                <img class="sf-mat-icon mr-2" alt="saasafras logo"
                    src="https://uploads-ssl.webflow.com/5ad89e5cbcb30031ff70361a/5ad8c34ebcb30096777073cc_saassafras_logo80.png" />
                Saasafras
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="example-button-row mt-2">
                <button (click)="login()" mat-raised-button class="w-100">
                    <img class="sf-mat-icon mr-2" alt="podio logo" src="assets/podio-logo-png-transparent.png" />
                    Login with Podio
                </button>
            </div>
        </mat-card-content>
        <mat-card-actions>
        </mat-card-actions>
    </mat-card>
</div>