<h1 mat-dialog-title>New Patch</h1>

<form [formGroup]="patchForm" (ngSubmit)="onSubmit()">

    <mat-form-field class='w-100'>
        <mat-label>Solution</mat-label>
        <input type="text" matInput readonly formControlName="solution">
    </mat-form-field>

    <!-- inputs loop our controls
    labels loop our environments
    sync them up using index -->
    <mat-label>Environments to patch</mat-label>
    <div *ngFor="let control of envControls.controls; let i = index">
        <input type="checkbox" [formControl]="control" id="checkbox{{i}}" (change)="syncItemsWithControls()">
        <label for="checkbox{{i}}">{{environments[i]}}</label>
    </div>
    <small *ngIf="selectedEnvsError && description.touched">Please select at least one environment</small>

    <mat-form-field class="w-100">
        <textarea matInput formControlName="description" placeholder="Add a description (optional)"></textarea>
    </mat-form-field>

    <button mat-raised-button class='mr-2'>Cancel</button>
    <button mat-raised-button type="submit" [disabled]="selectedEnvsError">Create Deployment</button>

</form>