<mat-nav-list>
    <a mat-list-item routerLink="" (click)="onClose()" routerLinkActive="active-nav-item">
        <mat-icon mat-list-icon>view_quilt</mat-icon>
        <span class="pl-3">Dashboard</span>
    </a>
    <a mat-list-item routerLink="/podio" (click)="onClose()">
        <mat-icon mat-list-icon>palette</mat-icon>
        <span class="pl-3">My Podio</span>
    </a>
    <a mat-list-item routerLink="/clients" (click)="onClose()">
        <mat-icon mat-list-icon>contacts</mat-icon>
        <span class="pl-3">Clients</span>
    </a>
    <a mat-list-item routerLink="/solutions" (click)="onClose()">
        <mat-icon mat-list-icon>view_quilt</mat-icon>
        <span class="pl-3">Solutions</span>
    </a>
    <a mat-list-item routerLink="/login" (click)="onClose()">
        <mat-icon mat-list-icon>lock</mat-icon>
        <span class="pl-3">Login</span>
    </a>

</mat-nav-list>


<!-- =============================
    TODO REMOVE THIS POC CODE IF WE DON'T 
    REFACTOR SIDENAV TO USE TREE-LIKE 
    EXPANSION PANELS 
=================================== -->
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Personal data
            </mat-panel-title>
    
        </mat-expansion-panel-header>

        <mat-nav-list>
            <a mat-list-item routerLink="" (click)="onClose()" routerLinkActive="active-nav-item">
                <mat-icon mat-list-icon>view_quilt</mat-icon>
                <span class="pl-3">Dashboard</span>
            </a>
            <a mat-list-item routerLink="/podio" (click)="onClose()">
                <mat-icon mat-list-icon>palette</mat-icon>
                <span class="pl-3">My Podio</span>
            </a>
            <a mat-list-item routerLink="/clients" (click)="onClose()">
                <mat-icon mat-list-icon>contacts</mat-icon>
                <span class="pl-3">Clients</span>
            </a>
            <a mat-list-item routerLink="/solutions" (click)="onClose()">
                <mat-icon mat-list-icon>view_quilt</mat-icon>
                <span class="pl-3">Solutions</span>
            </a>
            <a mat-list-item routerLink="/login" (click)="onClose()">
                <mat-icon mat-list-icon>lock</mat-icon>
                <span class="pl-3">Login</span>
            </a>
        
        </mat-nav-list>

     
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Personal data
            </mat-panel-title>
    
        </mat-expansion-panel-header>
    
        <mat-nav-list>
            <a mat-list-item routerLink="" (click)="onClose()" routerLinkActive="active-nav-item">
                <mat-icon mat-list-icon>view_quilt</mat-icon>
                <span class="pl-3">Dashboard</span>
            </a>
            <a mat-list-item routerLink="/podio" (click)="onClose()">
                <mat-icon mat-list-icon>palette</mat-icon>
                <span class="pl-3">My Podio</span>
            </a>
            <a mat-list-item routerLink="/clients" (click)="onClose()">
                <mat-icon mat-list-icon>contacts</mat-icon>
                <span class="pl-3">Clients</span>
            </a>
            <a mat-list-item routerLink="/solutions" (click)="onClose()">
                <mat-icon mat-list-icon>view_quilt</mat-icon>
                <span class="pl-3">Solutions</span>
            </a>
            <a mat-list-item routerLink="/login" (click)="onClose()">
                <mat-icon mat-list-icon>lock</mat-icon>
                <span class="pl-3">Login</span>
            </a>
    
        </mat-nav-list>
    
    </mat-expansion-panel>

   
</mat-accordion>