<div class="d-flex justify-content-center">
    <mat-card class='w-75 mt-3'>
        <mat-card-content>
            <h3>Create New Client</h3>

            <form [formGroup]="newClientForm" (ngSubmit)="onSubmit()" novalidate>

                <mat-form-field class="w-100" appearance="">
                    <input type='text' formControlName="contact" matInput required placeholder="Contact person" />
                </mat-form-field>

                <mat-form-field class="w-100" appearance="">
                    <input type='text' formControlName="company" matInput placeholder="Company (optional)" />
                </mat-form-field>

                <mat-form-field class="w-100" appearance="">
                    <input type='email' formControlName="email" matInput placeholder="email" required/>
                </mat-form-field>

                <mat-form-field class="w-100" appearance="">
                    <textarea formControlName="notes" matInput placeholder="Notes"></textarea>
                </mat-form-field>

                <button routerlink="/clients" mat-raised-button class="mr-2">Cancel</button>

                <button type="submit" mat-raised-button *ngIf="!submitted"
                    [disabled]="newClientForm.status === 'INVALID'">Create</button>

            </form>

        </mat-card-content>
    </mat-card>

</div>