<mat-expansion-panel (opened)="showForm = true" (closed)="showForm = false" #panel="matExpansionPanel">
    <mat-expansion-panel-header>
        <mat-panel-title>{{solution.name}}: {{solution.version}}</mat-panel-title>
    </mat-expansion-panel-header>

    <H4>WORKSPACES IN THIS SOLUTION</H4>

    <app-saas-spaces *ngIf="solution.appId" [solutionId]="solution.appId"></app-saas-spaces>


    <app-podio-orgs *ngIf="!solution.appId" (selectedSpaces)="addSpace($event)" (unselectedSpaces)="removeSpace($event)" [showDetail]="false"></app-podio-orgs>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate *ngIf="!solution.appId">

        <label>Create Solution</label>

        <input name="name" ngModel required #solutionName="ngModel">
    </form>

    <div *ngIf="!solution.appId">
        <mat-label>spaces for solution</mat-label>

        <label>Selected Spaces</label>
        <app-podio-space [space]="selectedSpace" *ngFor="let selectedSpace of selectedSpaces | async"></app-podio-space>
        <button mat-button>create</button>
    </div>
</mat-expansion-panel>
