/* You can add global styles to this file, and also import other style files */
/* Bootstrap-4-grid */
@import "~bootstrap-4-grid/css/grid.css";

/* Angular Material theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Other */
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
/* just use bootstrap grid container class
    .container {
    width: 80%;
    margin: auto;
} */
.mat-drawer-container {
    height: 100vh;
}
table {
    width: 100%;
}
th.mat-sort-header-sorted {
    color: black;
}
tr.mat-footer-row {
    font-weight: bold;
}
.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}
tr:hover {
    background: #f5f5f5;
    cursor: pointer;
}
tr:active {
    background: #efefef;
}
.table-container {
    /* create scrolling */
    /* max-height: 400px;
    overflow: auto;  */
}
/* TODO register a podio icon with material or use mat-icon class?*/
.sf-mat-icon {
    display: inline-block;
    height: 24px;
}
.sf-font-weight-light {
    color: rgba(0, 0, 0, 0.54);
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.mat-expansion-panel-header.mat-expanded {
    border-bottom: 1px solid lightgrey;
    font-weight: bold;
}
.text-h1 {
    font-size: 32px;
    margin: 20px 20px 20px 0;
}
.text-hint {
    font-size: 0.9rem;
    color: #777; /* same as bootstrap "text-muted" */
}
.text-small {
    font-size: 0.9rem;
}
.cursor-pointer {
    cursor: pointer;
}

.example-logo {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfW4DQSUCXdUBC6dPSZQvD9yosKjgstTgb6BjRLxpPnSHH0F-v");
    background-size: cover;
}
mat-card.card-table-container {
    padding-right: 0;
    padding-left: 0;
}
/* search inside table container */
.card-table-container .mat-form-field {
    /* display: inline-block;
    position: relative;
    text-align: left; */
    margin-bottom: -20px;
}
.card-table-container .mat-form-field-wrapper {
    padding-bottom: 1.25em;
    padding-left: 25px;
}

@media only screen and (max-width: 767px) {
    .hidden-sm-down {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .hidden-md-up {
        display: none;
    }
}
