/* You can add global styles to this file, and also import other style files */
/* Bootstrap-4-grid */
@import "~bootstrap-4-grid/css/grid.css";

/* Angular Material theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* Other */
html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.container {
    width: 80%;
    margin: auto;
}
