/* You can add global styles to this file, and also import other style files */
/* ====================
    IMPORTS 
=======================*/

/* Bootstrap-4-grid */
@import "~bootstrap-4-grid/css/grid.css";

/* Angular Material theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* ====================
    VARIABLES 
=======================*/
:root {
    --green: #4cd886;
    --mat-border-radius: 4px;
    --bg-black: #333333;
}
/* ====================
    OTHER 
=======================*/

.bg-black {
    background: var(--bg-black);
}
.color-green {
    color: var(--green);
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
section {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* just use bootstrap grid container class
    .container {
    width: 80%;
    margin: auto;
} */
.mat-drawer-container {
    height: 100vh;
}
table {
    width: 100%;
}
th.mat-sort-header-sorted {
    color: black;
}
tr.mat-footer-row {
    font-weight: bold;
}
.mat-table-sticky {
    border-top: 1px solid #e0e0e0;
}
tr:hover {
    background: #f5f5f5;
    cursor: pointer;
}
tr:active {
    background: #efefef;
}
.b-radius-default {
    border-radius: 4px;
}
.bg-success {
    background-color: #00c853;
}
.bg-warning {
    background-color: #e53935;
}
.success {
    color: #00c853;
}
.warning {
    color: #e53935;
    background: unset;
}
.scheduled {
    /* color: blue; */
}

.instances-component .mat-cell,
.instances-component .mat-header-cell,
.instances-component .mat-footer-cell {
    font-size: 16px;
    padding-right: 10px;
}

/* left align table when inside new patch form */
app-new-patch th.mat-header-cell:first-of-type,
app-new-patch td.mat-cell:first-of-type {
    padding-left: unset;
}

/* so ripple can expand beyond checkbox in selection table */
.mat-column-select {
    overflow: initial;
}
/* TODO register a podio icon with material or use mat-icon class?*/
.sf-mat-icon {
    display: inline-block;
    height: 24px;
}
.mat-icon {
    vertical-align: middle;
}
.mat-icon.icon-smaller {
    font-size: 20px;
    height: 20px;
    width: 20px;
}
.sf-font-weight-light {
    color: rgba(0, 0, 0, 0.54);
}

.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
    /* background: #FAFAFA; slightly lighter grey */
}
.text-clickable {
    color: #07c;
    cursor: pointer;
    text-decoration: underline;
}
.text-clickable:hover {
    color: #3af;
}

.text-warn {
    color: #f44336;
}
.mat-expansion-panel-header.mat-expanded {
    border-bottom: 1px solid lightgrey;
    font-weight: bold;
}
.text-h1 {
    font-size: 32px;
    margin: 20px 20px 20px 0;
}
.font-size-16px {
    font-size: 16px;
}
.text-hint {
    font-size: 0.9rem;
    color: #999; /* same as bootstrap "text-muted" */
}
.text-light {
    color: #999;
}
.text-lighter {
    color: #e0e0e0;
}
.text-small {
    font-size: 0.9rem;
}
.text-no-deco,
a.text-no-deco {
    text-decoration: none;
}

.text-inherit-styles {
    font-size: inherit;
    color: inherit;
    height: inherit;
    position: relative;
    margin-bottom: -4px;
    padding-left: 2px;
}
.overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.max-width-200 {
    max-width: 200px;
}
.max-w-100 {
    max-width: 100px;
}
.w-125px {
    width: 125px;
}
.w-100px {
    width: 100px;
}
.w-150px {
    width: 150px;
}
.w-250px {
    width: 250px;
}
.mat-list-base .mat-list-option.mat-list-option-inline {
    display: inline-block;
    width: unset;
    height: 30px;
}
/* FOR WELCOME LEVEL UP CARD */
app-welcome .mat-list-base .mat-list-item .mat-list-item-content {
    padding-left: 0;
}

.bg-lightgrey {
    background: #eeeeee;
}
.mat-selection-list .mat-list-option.mat-list-option-multi-line {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
    height: unset;
}
.comma-separated-list::after {
    content: ", ";
}
.comma-separated-list:last-child::after {
    content: "";
}
.checkbox-hidden .mat-pseudo-checkbox {
    display: none;
}
.checkbox-hidden,
.mat-list-item-disabled {
    background: unset;
}

.client-notes {
    overflow-y: scroll;
    font-size: 16px;
    max-height: 200px;
    margin-top: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.example-logo {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfW4DQSUCXdUBC6dPSZQvD9yosKjgstTgb6BjRLxpPnSHH0F-v");
    background-size: cover;
}
mat-card.card-table-container {
    padding-right: 0;
    padding-left: 0;
}
/* search inside table container */
.card-table-container .mat-form-field {
    /* display: inline-block;
    position: relative;
    text-align: left; */
    margin-bottom: -10px;
}
.card-table-container .mat-form-field-wrapper {
    padding-bottom: 1.25em;
    padding-left: 25px;
}
mat-paginator .mat-paginator-container {
    justify-content: center;
}
.mat-form-field-prefix {
    /* *  top: 4px;  in search input in table container . instead of this i am now using vertical-align: middle on mat-icon */
    color: #777;
}
.mat-form-field-infix {
    padding-left: 11px;
}
.mat-card-title {
    font-size: 18px;
    font-weight: normal;
}
app-solution-tasks .mat-card,
app-solution-about .mat-card {
    min-height: 210px;
}
.min-h-200 {
    min-height: 200px;
}
input[type="file"] {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
}
/* fix overflow scroll bug on solution about tab */
mat-tab-body .row {
    max-width: 100%;
}
.mat-expansion-panel-header-title {
    align-items: center;
}
.exp-panel-icon {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    flex-shrink: 0;
    object-fit: contain;
    padding-right: 11px;
}
.cdk-overlay-container .mat-menu-panel {
    max-width: 500px;
}

app-welcome app-card-collection .mat-card {
    background: #eeeeee;
    min-height: 200px;
}
app-welcome app-card-collection .mat-card:hover {
    background: #f5f5f5;
}
.mat-card-unset-styling {
    box-shadow: unset;
    width: 100%;
    margin-top: unset;
}
.mat-toolbar {
    background-color: #333;
    color: #f2f2f2;
}
mat-toolbar li {
    list-style: none;
    font-size: initial;
    font-weight: initial;
}
mat-toolbar a {
    text-decoration: none;
    color: white;
}
mat-toolbar a:hover,
mat-toolbar a:active {
    color: lightgray;
}
/* .highlight {
    border: 2px solid #ff4081;
} */
.active-nav-item,
.active-nav-item:hover,
.mat-nav-list .mat-list-item.active-nav-item,
.mat-nav-list .mat-list-item.active-nav-item:hover {
    font-weight: bold;
    /* color: white; */
    color: #4cd886;
}
.mat-tooltip {
    font-size: 15px;
}
.bg-green {
    background: var(--green);
}
.b-radius-std {
    border-radius: var(--mat-border-radius);
}

.object-fit {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.mat-progress-bar .mat-progress-bar-fill::after {
    background: #00c853;
}
.mat-progress-bar .mat-progress-bar-buffer {
    background: lightgrey;
}

/* to left align with mat-selection list checkboxes */
table td.mat-cell:first-of-type,
table td.mat-footer-cell:first-of-type,
table th.mat-header-cell:first-of-type {
    padding-left: 16px;
}
.table-layout-fixed {
    table-layout: fixed;
}

/* so content doesn't go right to bottom of screen */
.mat-drawer-content {
    padding-bottom: 50px;
}

.hint-level-up {
    right: 315px;
    top: 20px;
    width: 300px;
    height: 200px;
}
.hint {
    position: absolute;
    z-index: 1000;
    background: #00c853;
    color: white;
    box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.2),
        0 5px 8px 0 rgba(0, 0, 0, 0.14), 0 1px 14px 0 rgba(0, 0, 0, 0.12);
}
.relative {
    position: relative;
}

/* =====================
ngx-timepicker dialog
======================== */

.timepicker .timepicker__header {
    background-color: #999;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
.timepicker .clock-face .clock-face__number > span.active {
    background-color: #999;
    color: white;
}
.timepicker .clock-face__clock-hand {
    background-color: #999;
}
.timepicker .timepicker-button {
  color: grey;
}

/* =====================
        SPIN
======================== */

.spin {
    -webkit-animation: spin 3s infinite linear;
    animation: spin 3s infinite linear;
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.bg-img-speed {
    background-image: url('https://www.gstatic.com/mobilesdk/180326_mobilesdk/discoverycards/performance.png');
}

/* =====================
    MEDIA QUERIES  
======================== */
@media only screen and (max-width: 767px) {
    .hidden-sm-down {
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .hidden-md-up {
        display: none;
    }
}
