
#first {
    width: 20%;
    float: left;
    height: 150vw;
        background-color: rgb(151, 151, 151);
}
#second {
    width: 80%;
    float: left;
    height: 150vw;
    background-color: rgb(201, 201, 201);
}
#h1 {
    text-align: center;
}
#message {
    background-color: lightgrey;
    width: 95%;
    border: 10px solid rgb(14, 165, 14);
    padding: 15px;
    text-align: center;
    align-content: center;
    display: none;
  }
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: -5px;
  left: 105%; 
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip2 {
    position: relative;
    display: inline-block;
  }
  
  .tooltip2 .tooltiptext2 {
    visibility: hidden;
    width: 700px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    top: 100%;
    left: 50%; 
    margin-left: -350px; /* Use half of the width (120/2 = 60), to center the tooltip */
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip2:hover .tooltiptext2 {
    visibility: visible;
  }
  .slider-container {
    position: relative;
   }
    .slider-container .slider-parent {
      height: 70vh;
      max-width: 250px;
      width: 100%;
      position: absolute;
      left: -250px;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
      transition: .2s all linear;
   }
     .slider-container .slider-parent.active {
        visibility: visible;
        pointer-events: inherit;
        transition: .2s all ease-in-out;
        opacity: 1;
        left: 0;
        
   }
   #nosolution
   {
     color: red;
     font-size: 25px;
     font-weight: bold;
   }
  