<h1 mat-dialog-title>Update "{{solution.name}}" (Create new version)</h1>

<form [formGroup]="updateForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="w-100 d-none">
        <mat-label>Solution</mat-label>
        <input type="text" matInput readonly formControlName="solution">
    </mat-form-field>

    <mat-form-field class="w-100">
        <mat-label>Which version do you want to update?</mat-label>
        <mat-select formControlName="version" (selectionChange)="onVersionSelection()">
            <mat-option *ngFor="let v of versions" [value]="v.number">
                {{v.number}} <span *ngIf="v.name">{{v.name}}</span>
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-expansion-panel *ngIf="spacesCurrentlyUsed">
        <mat-expansion-panel-header>
            <mat-panel-title>Edit included workspaces (optional)</mat-panel-title>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <div class="mt-2">
                <mat-label>
                    <span>Select to add spaces. Deselect spaces you do not want included in the new version. If you
                        Patch a solution with a version that does not include a space in the current version, it will
                        not delete that space, it will leave it unchanged. <a href="">Learn more <mat-icon
                                class="text-small">open_in_new</mat-icon></a></span>
                </mat-label>
                <app-podio-spaces [workspaces]="spacesAllInOrg" [preselectedSpaces]="spacesCurrentlyUsed"
                    (selectedSpaces)="onSpaceSelection($event)">
                </app-podio-spaces>
            </div>
        </ng-template>
    </mat-expansion-panel>

    <mat-form-field class="w-100 mt-2">
        <input matInput formControlName="name"
            placeholder="Add optional user friendly name for new solution version (ie 'Yosemite', 'El Capitan' etc.)">
    </mat-form-field>

    <mat-form-field class="w-100">
        <textarea matInput formControlName="notes" placeholder="Notes (optional)"></textarea>
    </mat-form-field>

    <button mat-raised-button class='mr-2' type="button" (click)="onCancelClick()">Cancel</button>
    <button mat-raised-button type="submit" [disabled]="!updateForm.valid">Run Update</button>

</form>